body {
    margin: 0;
    padding: 0;
    background-image: url('./assets/jwst.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Trebuchet MS", sans-serif;
}

#game_title {
    font-size: 30px;
    margin-top: 50px;
    margin-left: 22vw;
    color: whitesmoke;
    text-align: justify;
    
    text-shadow:
    0 0 2px #fff,
    0 0 5px #fff,
    0 0 7px rgb(0, 225, 255);

}

#game_canvas {
    border: 5px solid #d3d3d3;

    margin-left: 8vw;
}

#overlay {
    /* padding: 20px 180px; */
    margin-left: 575px;
    margin-top: 57vh;
    text-align: center;
    position: fixed;
    font-size: 1.5em;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#enter_button {
    color: white;
    position: fixed;
    margin-left: 410px;
    margin-top: 63vh;
}

#instructions_button {
    color: white;
    position: fixed;
    margin-left: 655px;
    margin-top: 63vh;
}
#instructions_button:hover{
    cursor: pointer;
}
#overlaybody {
    background-image: url('./assets/amongusgalaxy.png');
}
.message {
    padding:35px;
    width: 20vw;
    height: 20vh;
    position:fixed;
    visibility:hidden;
    top:40vh;
    left:40vw;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 5px;
    
}

#instructs {
    width: 40vw;
    height: 120vh;
    left: 26vw;
    top:0vw;

    padding-left: 50px; 
    padding-right: 50px;
    padding-top: 10vh;
    text-align:center;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    background-color: rgba(0,0,0,.8);
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    visibility: hidden ;
    display: inline-block;
    position:fixed;
    font-size: 18px;
    color:white;
    z-index: 100;
    /* margin-bottom: 100vh; */
}

#nametag{

    top:80vh;
    left:20vw;
}



.button2 {
    width: 150px;
    background-color: rgba(0,0,0,.7);
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 40px;
    
}

.button {
    width: 150px;
    background-color: lightblue; /* Green */
    border-width: 2px;
    border-color: black;
    border-style: solid;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
  }

#butt {
    height: 100px;
    width: 150px;
    /* margin: 50px auto; */
    position:absolute;
    top:10vh;
    right:7vw;
}

#deselect {
    background-color: lightblue;
}
#play {
    background-color: #aaeebb;
}

#instructions {
    background-color: lightpink;
}
#screenshot {
    background-color: lightpink;
}
#reset {
    background-color: lightpink;
}
.button:hover {
    cursor: pointer;
}
.ibutton:hover {
    cursor: pointer;
}

#wrapper {
    padding: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background-color: rgba(0,0,0,0.6);
    z-index: -1;
}

#wrapperstrong {
    padding: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background-color: rgba(0,0,0,0.8);
}

.title {
    animation: flicker 4s infinite alternate;
    color: #fff;
    font-size: 60px;
    letter-spacing: -1px; 
    margin-left: 25vw;
    margin-top: 31vh; 
    position: fixed;
    text-align: center;
  }

@keyframes flicker {
    100% {
      text-shadow:
        0 0 2px #fff,
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px rgb(0, 225, 255),
        0 0 45px rgb(0, 225, 255);
    }
    0% {       
      text-shadow: none;
    }
  }
  

  .sliderContainer {
    /* position:absolute;
    bottom:0vh; */
    position:absolute;
    bottom:1vh;
    left:20vh;
    width: 50%; /* Width of the outside container */
    color:#fff
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 50%; /* Full-width */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }

#checkbox{
    position:absolute;
    left:100vh;
    bottom:1vh;
}
